Flask>=2.2.5
Flask-SQLAlchemy>=3.0.0
Flask-Migrate>=3.0.0
Flask-Login>=0.6.2
Flask-Dance>=5.0.0
flask-cors
psycopg2-binary>=2.9.3
python-dotenv>=1.0.0
openai
anthropic>=0.72.0
pydub>=0.25.1
Werkzeug>=2.2.0
gunicorn==23.0.0
celery==5.3.4
redis==5.0.1
ffmpeg-python==0.2.0